In [1]:
# Import required libraries
import pandas as pd

In [4]:
df = pd.read_csv("datasets/data-2.csv")

In [6]:
# get dimensions of the dataframe
df.shape

(699, 11)

In [7]:
# Top 5 rows of the dataframe
df.head(5)

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
0,1000025,5,1,1,1,2.0,1,3,1,1,2
1,1002945,5,4,4,5,NaN,10,3,2,1,2
2,1015425,3,1,1,1,2.0,2,3,1,1,2
3,1016277,6,8,8,1,3.0,4,3,7,1,2
4,1017023,4,1,1,3,2.0,1,3,1,1,2

In [9]:
# Bottom 5 rows of the dataframe
df.tail(5)

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
694,776715,3,1,1,1,3.0,2,1,1,1,2
695,841769,2,1,1,1,2.0,1,1,1,1,2
696,888820,5,10,10,3,7.0,3,8,10,2,4
697,897471,4,8,6,4,3.0,4,10,6,1,4
698,897471,4,8,8,5,4.0,5,10,4,1,4

In [10]:
# Get columns names
df.columns

Index(['ID', 'Clump_Thickness', 'Cell_Size_Uniformity',
       'Cell_Shape_Uniformity', 'Marginal_Adhesion',
       'Single_Epithelial_Cell_Size', 'Bare_Nuclei', 'Bland_Chromatin',
       'Normal_Nucleoli', 'Mitoses', 'Cancer_Type'],
      dtype='object')

In [12]:
# Select a single column
df["Bare_Nuclei"]

0       1
1      10
2       2
3       4
4       1
       ..
694     2
695     1
696     3
697     4
698     5
Name: Bare_Nuclei, Length: 699, dtype: object

In [13]:
# Select multiple columns by names
df[["Bare_Nuclei", "Cancer_Type"]]

    Bare_Nuclei  Cancer_Type
0             1            2
1            10            2
2             2            2
3             4            2
4             1            2
..          ...          ...
694           2            2
695           1            2
696           3            4
697           4            4
698           5            4

[699 rows x 2 columns]