In [2]:
# Import libraries
import pandas as pd

In [3]:
# Import data
df = pd.read_csv("datasets/data-3.csv")

In [4]:
# Preview data
df.head()

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
0,1000025,5,1,1,1,2.0,1,3,1,1,2
1,1002945,5,4,4,5,NaN,10,3,2,1,2
2,1015425,3,1,1,1,2.0,2,3,1,1,2
3,1016277,6,8,8,1,3.0,4,3,7,1,2
4,1017023,4,1,1,3,2.0,1,3,1,1,2

In [6]:
# Select single column
df["Bare_Nuclei"]

0       1
1      10
2       2
3       4
4       1
       ..
694     2
695     1
696     3
697     4
698     5
Name: Bare_Nuclei, Length: 699, dtype: object

In [7]:
# Select multiple columns by its names
df[["Clump_Thickness", "Marginal_Adhesion"]]

     Clump_Thickness  Marginal_Adhesion
0                  5                  1
1                  5                  5
2                  3                  1
3                  6                  1
4                  4                  3
..               ...                ...
694                3                  1
695                2                  1
696                5                  3
697                4                  4
698                4                  5

[699 rows x 2 columns]

In [8]:
# Select rows by their position
df.iloc[:5]

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
0,1000025,5,1,1,1,2.0,1,3,1,1,2
1,1002945,5,4,4,5,NaN,10,3,2,1,2
2,1015425,3,1,1,1,2.0,2,3,1,1,2
3,1016277,6,8,8,1,3.0,4,3,7,1,2
4,1017023,4,1,1,3,2.0,1,3,1,1,2

In [9]:
# Select columns by their position
df.iloc[:, :2]

          ID  Clump_Thickness
0    1000025                5
1    1002945                5
2    1015425                3
3    1016277                6
4    1017023                4
..       ...              ...
694   776715                3
695   841769                2
696   888820                5
697   897471                4
698   897471                4

[699 rows x 2 columns]

In [10]:
# Select rows based on a condition
df[df['Cancer_Type'] == 2]

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
0,1000025,5,1,1,1,2.0,1,3,1,1,2
1,1002945,5,4,4,5,NaN,10,3,2,1,2
2,1015425,3,1,1,1,2.0,2,3,1,1,2
3,1016277,6,8,8,1,3.0,4,3,7,1,2
4,1017023,4,1,1,3,2.0,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
690,654546,1,1,1,3,2.0,1,1,1,1,2
692,714039,3,1,1,1,2.0,1,1,1,1,2
693,763235,3,1,1,1,2.0,1,2,1,2,2
694,776715,3,1,1,1,3.0,2,1,1,1,2
695,841769,2,1,1,1,2.0,1,1,1,1,2