In [1]:
import re

In [2]:
result = re.match('Analytics', r'Analytics Vidhya is the largest data science community of India')
print(result)
print(result.group())

<re.Match object; span=(0, 9), match='Analytics'>
Analytics

In [3]:
result_2 = re.match('largest', r'Analytics Vidhya is the largest data science community of India')
print(result_2)

None

In [4]:
result = re.search('founded', r'Andrew NG founded Coursera. He also founded deeplearning.ai')
print(result.group())

founded

In [5]:
result = re.findall('founded', r'Andrew NG founded Coursera. He also founded deeplearning.ai')
print(result)

['founded', 'founded']

In [6]:
result = re.findall(r'ics\b', r'Analytics Vidhya is the largest Analytics community of India')
print(result)

['ics', 'ics']

In [7]:
result = re.findall('\d', r"2 million monthly visits in Jan'19.")
print(result)

['2', '1', '9']

In [8]:
result = re.findall('\d+', r"2 million monthly visits in Jan'19.")
print(result)

['2', '19']

In [9]:
result = re.findall('\D', r"2 million monthly visits in Jan'19.")
print(result)

[' ', 'm', 'i', 'l', 'l', 'i', 'o', 'n', ' ', 'm', 'o', 'n', 't', 'h', 'l', 'y', ' ', 'v', 'i', 's', 'i', 't', 's', ' ', 'i', 'n', ' ', 'J', 'a', 'n', "'", '.']

In [10]:
result = re.findall('\D+', r"2 million monthly visits in Jan'19.")
print(result)

[" million monthly visits in Jan'", '.']

In [11]:
result = re.findall('\w', r"2 million monthly_visits!")
print(result)

['2', 'm', 'i', 'l', 'l', 'i', 'o', 'n', 'm', 'o', 'n', 't', 'h', 'l', 'y', '_', 'v', 'i', 's', 'i', 't', 's']

In [12]:
result = re.findall('\W', r"2 million monthly visits9!")
print(result)

[' ', ' ', ' ', '!']

In [13]:
str = "rohan and rohit recently puiblished a reseach paper!"

x = re.findall("ro.", str)
x2 = re.findall("ro...", str)

print(x)
print(x2)

['roh', 'roh']
['rohan', 'rohit']

In [14]:
str = "Data Science"

x = re.findall("^Data", str)

if x:
    print("Yes, the string starts with 'Data'")
else:
    print("No match")

Yes, the string starts with 'Data'

In [15]:
str = "Data Science"

x = re.findall("Science$", str)

if x:
    print("Yes, the string ends with 'Science'")
else:
    print("No match")

Yes, the string ends with 'Science'

In [17]:
str = "easy easssy eay ey"

x = re.findall("eas*y", str)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

['easy', 'easssy', 'eay']
Yes, there is at least one match!

In [18]:
str = "easy easssy eay ey"

x = re.findall("eas+y", str)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

['easy', 'easssy']
Yes, there is at least one match!

In [19]:
str = "easy easssy eay ey"

x = re.findall("eas?y", str)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

['easy', 'eay']
Yes, there is at least one match!

In [20]:
str = "Analytics Vidhya is the largest data science community of India"

x = re.findall("data|India", str)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

['data', 'India']
Yes, there is at least one match!

Sets

In [21]:
str = "Analytics Vidhya is the largest data science community of India"

x = re.findall("[ydh]", str)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

['y', 'd', 'h', 'y', 'h', 'd', 'y', 'd']
Yes, there is at least one match!

In [22]:
str = "Analytics Vidhya is the largest data science community of India"

x = re.findall("[a-g]", str)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

['a', 'c', 'd', 'a', 'e', 'a', 'g', 'e', 'd', 'a', 'a', 'c', 'e', 'c', 'e', 'c', 'f', 'd', 'a']
Yes, there is at least one match!

In [23]:
str = "Mars' average distance from the Sun is roughly 230 millions km and its orbital period is 678 (Earth) days."

x = re.findall(r"[0-4]\d+", str)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

['230']
Yes, there is at least one match!

In [24]:
str = "Analytics Vidhya is the largest data science community of India"

x = re.findall("[^ydh]", str)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

['A', 'n', 'a', 'l', 't', 'i', 'c', 's', ' ', 'V', 'i', 'a', ' ', 'i', 's', ' ', 't', 'e', ' ', 'l', 'a', 'r', 'g', 'e', 's', 't', ' ', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e', ' ', 'c', 'o', 'm', 'm', 'u', 'n', 'i', 't', ' ', 'o', 'f', ' ', 'I', 'n', 'i', 'a']
Yes, there is at least one match!

In [26]:
str = "@AV Largest Data Science community #AV!!"

x = re.findall("[^a-zA-Z0-9 ]\w+", str)

print(x)

['@AV', '#AV']

Extract Email IDs

In [27]:
str = "Send email to rohan.1997@gmail.com, smith_david34@yahoo.com and priya@yahoo.com about meeting @2PM"

x = re.findall("[a-zA-Z0-9.-_]+@\w+\.com", str)

print(x)

['rohan.1997@gmail.com', 'smith_david34@yahoo.com', 'priya@yahoo.com']

Extracting Dates

In [28]:
str = "London Olympic 2012 was held from 2012-07-27 to 2012/08/12."

x = re.findall("\d{4}.\d{2}.\d{2}", str)

print(x)

['2012-07-27', '2012/08/12']

In [30]:
str = "London Olympic 2012 was held from 27 Jul 2012 to 12-Aug-2012."

x = re.findall("\d{2}.\w{3}.\d{4}", str)

print(x)

['27 Jul 2012', '12-Aug-2012']

In [31]:
str = "London Olympic 2012 was held from 27 July 2012 to 12 August 2012."

x = re.findall("\d{2}.\w{3,10}.\d{4}", str)

print(x)

['27 July 2012', '12 August 2012']

In [33]:
import pandas as pd

data=pd.read_csv('datasets/titanic.csv')

In [34]:
print(data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [35]:
data['Name'].head(10)

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [38]:
title=data['Name'].apply(lambda x: x.split(".")[0].split(",")[1])
title.value_counts()

 Mr              517
 Miss            182
 Mrs             125
 Master           40
 Dr                7
 Rev               6
 Col               2
 Mlle              2
 Major             2
 Ms                1
 Lady              1
 Don               1
 Jonkheer          1
 Sir               1
 the Countess      1
 Capt              1
 Mme               1
Name: Name, dtype: int64

In [39]:
def split_it(name):
    return re.findall("\w+\.", name)

In [40]:
title=data['Name'].apply(lambda x: split_it(x))
title.value_counts()

[Mr.]          517
[Miss.]        182
[Mrs.]         124
[Master.]       40
[Dr.]            7
[Rev.]           6
[Col.]           2
[Mlle.]          2
[Major.]         2
[Capt.]          1
[Sir.]           1
[Lady.]          1
[Mrs., L.]       1
[Jonkheer.]      1
[Ms.]            1
[Mme.]           1
[Don.]           1
[Countess.]      1
Name: Name, dtype: int64