In [2]:
import pandas as pd

In [3]:
data=pd.read_csv("datasets/mode.csv")

In [6]:
data.head()

   Student  Overall Marks Gender    Subject
0    Anish             97   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

In [5]:
print(data['Subject'].mode())

0    Chemistry
dtype: object

In [9]:
data=pd.read_csv("datasets/mean.csv")

In [10]:
print(data['Overall Marks'].mean())

68.21

In [12]:
data_new=pd.read_csv("datasets/mean_robust.csv")

In [14]:
data_new.tail()

    Student  Overall Marks  Gender    Subject
96    vivek             55    Male    Physics
97    Tisha              7  Female    English
98   Raghav             73    Male    English
99   Ishita             82  Female  Chemistry
100     NaN          10000     NaN        NaN

In [13]:
print(data_new['Overall Marks'].mean())

166.54455445544554